body{
   max-width: 1280px;
   margin: 0 auto;
}
main,footer{
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
}
main > *{
   display: flex;
   flex-flow: column nowrap;
}
img{
   width: 100%;
}
.left-side{
   width: 30%;
   background: #686f80;
}